@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$background-color: white;
$primary-color: black;
$secondary-color: #f8f8f8;
body {
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
  background: $background-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

::-moz-selection {
  background: #41FFFD;
  color: #000
}

::selection {
  background: #41FFFD;
  color: #000
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.underline {
  border-bottom: black solid 1px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px 3px 15px;
  margin: 0 5px 0 5px;
  border: 2px solid $primary-color;
  color: $primary-color;
}

.comment-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px 0 3px;
  margin: 0;
  color: $primary-color;
}

.header {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
  }
}

.nav {
  background: $background-color;
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-basis: 100%;
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px 15px 3px 15px;
  margin: 0 5px 0 5px;
  border: 2px solid $primary-color;
  color: $primary-color;
  border-radius: 4px
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.t-nav {
  border-bottom: black solid 1px;

  .right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .left {
    align-content: center;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .middle {
    flex-grow: 0;
  }
}

.navSearchBar {
  align-self: center;
  display: flex;
}

.container_contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .wrapper {
    width: 1000px;
  }

  .view {
    width: 100%;
    border-top: 2px solid $primary-color;
    color: $primary-color;

    .view-title {
      padding: 20px;
      border-bottom: 1px solid #C2C2C2FF;
    }

    .comment {
      padding: 20px;
      border-bottom: 1px solid #C2C2C2FF;

      .commentInfo:nth-child(1) {
        font-weight: bold;
        font-size: 20px;
      }

      .commentInfo:nth-last-child(1) {
        font-size: 10px;
      }

      .right {

      }
    }

    .view-content {
      padding-left: 20px;
      padding-top: 60px;
      padding-bottom: 20px;
      border-bottom: 2px solid $primary-color;
    }
  }

  .editView {
    width: 100%;
    border-top: 2px solid $primary-color;

    .view-title {
      padding: 20px;
      border-bottom: 1px solid #C2C2C2FF;
      display: flex;
      flex-direction: row;

      .inputBoxTitle {
        width: 100%;
        height: 2em;
        font-size: 15px;
        font-weight: lighter;
      }
    }

    .view-content {
      padding: 20px;
      border-bottom: 2px solid $primary-color;
      display: flex;
      flex-direction: row;

      .inputBoxContent {
        resize: vertical;
      }
    }
  }
}

.inputBoxContent {
  resize: none;
  width: 100%;
  font-weight: lighter;
  font-size: 15px;
}

.blue {
  color: #2c2cd7;
}

table {
  width: 100%;
  padding-top: 10px;
  border-collapse: collapse;


  tr:nth-child(1) {
    border-top: 2px solid $primary-color;
    border-bottom: 1px solid $primary-color;
  }

  tr:nth-child(n+2) {
    border-bottom: 1px solid #c2c2c2;
    height: 40px;
  }

  tr:nth-child(n+2):hover {
    background: $secondary-color;
  }


  .titleCol {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .authorCol {
    width: 15%;
  }

  .dateCol {
    width: 10%;
  }
  td:nth-child(1){
    padding-left: 10px;
  }
}

.foot {
  position: fixed;
  bottom: 0;
  background: $background-color;
}